<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<ComponentGroup Id="RegistryKeyComponentGroup" Directory="INSTALLFOLDER">
			<Component Id="EAAddinKeyV16" Guid="{F67F9760-7AE1-4650-B30C-D109957BDDA5}" Win64="yes" >
				<RegistryKey Root="HKLM" Key="SOFTWARE\Sparx Systems\EAAddins64" Action="create">
					<RegistryValue Type="string" Value=""/>
				</RegistryKey>
			</Component>
			<Component Id="DEHEASysMLRegEntry"  Guid="{FB9FD5E1-BF4A-4A33-BF15-32A2BF074D94}" Win64="yes" >
				<RegistryKey Root="HKLM" Key="SOFTWARE\Sparx Systems\EAAddins64\DEHEASysML">
					<RegistryValue Type="string" Value="DEHEASysML.App" />
				</RegistryKey>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
